In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('datasets\sales.csv')
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\kelvi\AppData\Local\Temp\ipykernel_24840\2717136625.py:4: SyntaxWarning: invalid escape sequence '\s'
  df=pd.read_csv('datasets\sales.csv')

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [14]:
df = df.dropna()

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
for i in ['TV','Radio','Newspaper']:
    df[i] = sc.fit_transform(df[i].values.reshape(-1,1))
df.head()

         TV     Radio  Newspaper  Sales
0  0.969852  0.981522   1.778945   22.1
1 -1.197376  1.082808   0.669579   10.4
2 -1.516155  1.528463   1.783549   12.0
3  0.052050  1.217855   1.286405   16.5
4  0.394182 -0.841614   1.281802   17.9

In [17]:
x = df.drop(columns=['Sales'])
y = df['Sales']

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,root_mean_squared_log_error,r2_score,adjusted_rand_score
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

mean_absolute_error=mean_absolute_error(y_test,y_pred,multioutput='raw_values')
print('mean_absolute_error',mean_absolute_error)

mean_squared_error=mean_squared_error(y_test,y_pred,multioutput='raw_values')
print('mean_squared_error',mean_squared_error)

root_mean_squared_log_error=root_mean_squared_log_error(y_test,y_pred,multioutput='raw_values')
print('root_mean_squared_log_error',root_mean_squared_log_error)

r2_score=r2_score(y_test,y_pred,multioutput='raw_values')
print('r2_score',r2_score)

mean_absolute_error [1.4170313]
mean_squared_error [4.52255256]
root_mean_squared_log_error [0.24361613]
r2_score [0.86450539]

In [20]:
y_test = list(y_test)
y_pred = list(y_pred)
# print('actual value',)
# print('predicted value',y_pred[i])
# print('difference',y_test[i]-y_pred[i])
for i in range(1,5):
    print('actual value',y_test[i])
    print('predicted value',y_pred[i])
    print('difference',y_test[i]-y_pred[i])

actual value 8.4
predicted value 8.686297725901568
difference -0.28629772590156755
actual value 12.0
predicted value 9.577869504018953
difference 2.4221304959810475
actual value 25.4
predicted value 24.862079883634156
difference 0.5379201163658429
actual value 16.7
predicted value 14.655844732623372
difference 2.0441552673766274